/vendor/
/node_modules/
.env
.phpunit.result.cache
.php-cs-fixer.cache
.env.backup
.env.production
Homestead.yaml
Homestead.json
storage/*.key
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
storage/logs/*
.idea/
.phpunit.cache
.DS_Store
/public/hot
/public/storage
public/storage
.env.local
error_log
/storage/logs/*.log
